<!DOCTYPE html>
<html>

<head>
    <title>  <%= title %> </title>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {

            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body>

    <table id="customers">
        <tr>
            <th colspan="2"><%= data.Firma.FirmaUnvani && data.Firma.FirmaUnvani %> Teklif </th>
        </tr>

        <% if(data.Firma.FirmaUnvani){ %>
        <tr>
            <td>Firma Ünvani</td>
            <td><%= data.Firma.FirmaUnvani %></td>
        </tr>
        <% }%>
        <% if(data.Urun.Adi){ %>
        <tr>
            <td>Ürün</td>
            <td><%= data.Urun.Adi %></td>
        </tr>
        <% }%>
        <% if(data.OnOdemeTutari){ %>
        <tr>
            <td>On Odeme Tutari</td>
            <td><%= data.OnOdemeTutari %></td>
        </tr>
        <% }%>
        <% if(data.RaporBasiOdemeTutari){ %>
        <tr>
            <td>Rapor Basi Odeme Tutari</td>
            <td><%= data.RaporBasiOdemeTutari %></td>
        </tr>
        <% }%>

        <% if(data.YuzdeTutari){ %>
        <tr>
            <td>Yuzde Tutari</td>
            <td><%= data.YuzdeTutari %></td>
        </tr>
        <% }%>
        <% if(data.SabitTutar){ %>
        <tr>
            <td>Sabit Tutar</td>
            <td><%= data.SabitTutar %></td>
        </tr>
        <% }%>
        <% if(data.BasariTutari){ %>
        <tr>
            <td>Basari Tutari</td>
            <td><%= data.BasariTutari %></td>
        </tr>
        <% }%> 

    </table>

    <h2>işlem yapmak için: <a href="http://206.189.177.39/musteri/<%= data._id %>"><%= data._id %></a></h2>

</body>

</html>